#board
{
	border: 1px solid black;
	border-collapse: collapse;
}

td, th
{
	border: 1px solid black;
}

.cell
{
	width: 60px;
	height: 60px;
	text-align: center;
	font-family: helvetica;
	font-size: 30px;
}

body
{
	
}

.cell.x
{
	background-color: rgb(124,252,0);
	
}

.cell.o
{
	background-color: rgb(250,128,114);
}

#progress-bar-container
{
	border: 1px solid black;
	text-align: center;
	background-color: #DDDDDD;
	height: 20px;
	width: 300px;
}

#progress-bar
{
	height: 20px;
	background-color: #DD9433;
}
